body {
    background: #BFEFFF;
    font-family: 'Work Sans', sans-serif;
}

.title {
    font-size: 3em;
    text-align: center;
}

.city-form {
    display: flex;
    justify-content: stretch;
    width: 50%;
    min-width: 300px;
    margin: 0 auto;
    padding: 15px;
    background: #ccc;
}

.city-input {
    width: 100%;
    height: 30px;
    border: 1px solid #333;
    border-radius: 4px;
}
